<div class="header d-flex justify-content-between">
  <div class="px-4 py-2">
    <h2>Dashboard</h2>
  </div>

  <div class="dropdown m-2">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img class="user-icon"
        src="https://static.vecteezy.com/system/resources/previews/019/879/186/original/user-icon-on-transparent-background-free-png.png"
        alt=""> {{name}}
    </button>
    <ul class="dropdown-menu p-2">
      <li><i class="fa-solid fa-user me-1"></i> My Profile</li>
      <li><i class="fa-solid fa-envelope me-1"></i>Inbox</li>
      <li><i class="fa-solid fa-list-check me-1"></i>Taskboard</li>
      <li><i class="fa-solid fa-gear me-1"></i>Settings</li>
      <button class="btn"><i class="fa-solid fa-right-from-bracket me-1"></i>Logout</button>
    </ul>
  </div>
</div>