<div class="header d-flex justify-content-between">
  <div class="px-4 py-2">
    <h2>Dashboard</h2>
  </div>

  <div class="dropdown m-2">
    <button class="btn userProfile dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img class="user-icon"
        src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
        alt=""> {{name}} <br>
        <small style="text-align: right; color: grey;">admin</small>
    </button>
    <ul class="dropdown-menu userList p-2">
      <li><i class="fa-solid fa-user me-1"></i> My Profile</li>
      <li><i class="fa-solid fa-envelope me-1"></i>Inbox</li>
      <li><i class="fa-solid fa-list-check me-1"></i>Taskboard</li>
      <li><i class="fa-solid fa-gear me-1"></i>Settings</li>
      <button class="btn" (click)="logout()"><i class="fa-solid fa-right-from-bracket me-1"></i>Logout</button>
    </ul>
  </div>
</div>