.header {
    background-color: white;
}

.user-icon {
    height: 30px;
    width: 30px;
}

li {
    list-style-type: none;
    margin: 10px;
}

.userProfile {
    width: 150px;
}

li:hover {
    cursor: pointer;
}