.loginPage {
    background-color: #2a3650;
}

h1 {
   font-size: 80px;
   font-weight: 500;
   color: whitesmoke;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* letter-spacing: 10px; */
}

input {
    width: 100%;
    background-color: transparent;
    color: white;
    border-color: white;
}

button {
    background-color: white;
    border-color: white;
    color: #2a3650;
}

