<div class="row w-100">
    <div class="col-3 p-0">
        <div class="sidebar w-100">
            <h1 class="px-4 py-2">BH</h1>
            <ul>
                <li><i class="fa-solid fa-house pe-2"></i> Dashboard</li>
                <li><i class="fa-solid fa-file-lines pe-2"></i> File Manager</li>
                <li><i class="fa-solid fa-envelope pe-2"></i> Letter Box</li>
                <li><i class="fa-solid fa-list-check pe-2"></i> Tasks</li>
                <li><i class="fa-solid fa-triangle-exclamation pe-2"></i> FAQ</li>
            </ul>
        </div>
    </div>
    <div class="col-9 p-0 dashboard">
       <app-header></app-header>
       <div class="projects p-4 m-4">
        <h2>Projects</h2>
        <table class="table mb-2 w-100">
            <thead>
                <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Files Name</th>
                    <th>Files Type</th>
                    <th>Date</th>
                    <th>Author</th>
                    <th></th>
                </tr>
            </thead>
          <tbody>
            <tr *ngFor="let project of projects;">
                <td><input type="checkbox" name="" id=""></td>
                <td>
                  <img 
                    [src]="project.icon" 
                    [alt]="project.fileName" 
                    width="30" height="30"
                    style="border-radius: 50px;margin-right: 5px;"
                  />
                {{ project.fileName }}</td>
                <td>
                  <span 
                    [style.backgroundColor]="project.dotcolor"
                    style="display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:5px;">
                  </span>
                  {{ project.fileType }}
                </td>
                <td>{{ project.date }}</td>
                <td>{{ project.author }}</td>
                <td>{{project.expand}}</td>
              </tr>
          </tbody>
        </table>
        <div class="pagination d-flex justify-content-between px-2">
            <div>
                <p>Showing 1 to 4 of 10 entries</p>
            </div>
            <div>
                <button class="btn me-2" disabled>Previous</button>
                <button class="btn active">1</button>
                <button class="btn">2</button>
                <button class="btn">3</button>
                <button class="btn">Next</button>
            </div>
        </div>
       </div>
      <app-footer class="footer"></app-footer>
    </div>
</div>