<div class="row w-100">
    <div class="col-3">
        <div class="sidebar w-100">
            <h1 class="px-4 py-2">BH</h1>
            <ul>
                <li><i class="fa-solid fa-house pe-2"></i> Dashboard</li>
                <li><i class="fa-solid fa-file-lines pe-2"></i> File Manager</li>
                <li><i class="fa-solid fa-envelope pe-2"></i> Letter Box</li>
                <li><i class="fa-solid fa-list-check pe-2"></i> Tasks</li>
                <li><i class="fa-solid fa-triangle-exclamation pe-2"></i> FAQ</li>
            </ul>
        </div>
    </div>
    <div class="col-9 dashboard">
       <app-header></app-header>
       <div class="projects p-4">
        <h2>Projects</h2>
        <table class="table mb-2 w-100">
            <thead>
                <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Files Name</th>
                    <th>Files Type</th>
                    <th>Date</th>
                    <th>Author</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   <td><input type="checkbox" name="" id=""></td>
                   <td><img src="/src/assets/p1.jpg" height="100"   alt="project1">Rules Post on Dribble</td>
                   <td><div class="d-flex align-items-center"><div  class="dot1 me-1"></div> Document</div></td>
                   <td>12 Aug 2024</td>
                   <td>Monry Hasu</td>
                   <td>...</td>    
                </tr>
                <tr>
                   <td><input type="checkbox" name="" id=""></td>
                   <td><img src="/assets/p1.jpg" alt="project2">Login & Sign Up Ui</td>
                   <td><div class="d-flex align-items-center"><div  class="dot2 me-1"></div> Animation</div></td>
                   <td>19 Mar 2024</td>
                   <td>Nomru Nalij</td>
                   <td>...</td>    
                </tr>
                <tr>
                   <td><input type="checkbox" name="" id=""></td>
                   <td><img src="../assets/p1.jpg" alt="project3">Nft website Pages</td>
                   <td><div class="d-flex align-items-center"><div  class="dot3 me-1"></div> Image</div></td>
                   <td>30 Jun 2024</td>
                   <td>Nomru Nalij</td>
                   <td>...</td>    
                </tr>
                <tr>
                   <td><input type="checkbox" name="" id=""></td>
                   <td><img src="../assets/p1.jpg" alt="project4">Square Dashboard</td>
                   <td><div class="d-flex align-items-center"><div  class="dot4 me-1"></div> Document</div></td>
                   <td>24 Oct 2024</td>
                   <td>Willium sen</td>
                   <td>...</td>    
                </tr>
            </tbody>
        </table>
        <div class="pagination d-flex justify-content-between px-2">
            <div>
                <p>Showing 1 to 4 of 10 entries</p>
            </div>
            <div>
                <button class="btn me-2" disabled>Previous</button>
                <button class="btn active">1</button>
                <button class="btn">2</button>
                <button class="btn">3</button>
                <button class="btn">Next</button>
            </div>
        </div>
       </div>
      <app-footer></app-footer>
    </div>
</div>