.sidebar {
    background-color:#2a3650;
    height: 100vh;
    color: white;
}

h1{
    background-color: #161c2a;
}

ul{
    margin-top: 20px;
    padding-left: 20px;
}

li{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 20px;
}

.dashboard {
    background-color: rgb(239, 237, 237);
    display: flex;
    flex-direction: column;
}

.projects {
    background-color: white;
    margin-top: 50px;
    border-radius: 15px;
    font-size: large;
}

.projectImg {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 5px;
}

.dot1 {
    background-color: rgb(118, 58, 177);
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
.dot2 {
    background-color: rgb(18, 147, 164);
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
.dot3 {
    background-color: rgb(231, 96, 38);
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
.dot4 {
    background-color: rgb(164, 18, 159);
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.activebtn {
    background-color: blueviolet;
    color: white;
}

.footer {
    background-color: white;
    margin-top: auto;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 0;
}

.active {
    background-color: #171f2c;
    color: white;
   padding: 5px;
   border-radius: 3px;
}

.sidebar ul li:hover{
  cursor: pointer;
}